.container {
  display: flex;
  justify-content: center;
}

.todoInput {
  min-width: 15rem;
  width: 40vw;

  max-height: 2.5rem;
  background-color: #e1ebfd;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;

  align-self: center;
}
.todoInput:focus {
  outline: none;
  border: 2px solid rgb(67, 58, 168);
}

.addTodoBtn {
  margin-left: 1rem;
  background-color: #c8a2c8;
  color: #9955bb;
  border-radius: 50%;
  border: 2px solid #9955bb;
  font-size: 1.5rem;
  width: 3.2rem;
  height: 3.2rem;
  cursor: pointer;
  box-shadow: 2px 4px 10px purple;

  display: flex;
  justify-content: center;
  align-items: center;
}

.addTodoBtn:focus {
  outline: none;
}
